

		.Footer {
		display: flex;
    	justify-content: space-between;
    	align-items: center;
    	max-width: 900px;
    	margin: 0 auto;
    	width: 90%;
    	font-size: 14px;

    }



    	/*.Footer__Navigation {
    	padding-right: 15px;
    	}*/

    	.Navigation__List{
    		display: flex;
    	}
			
					
